@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #82e8e3;
  /* background-image: linear-gradient(linear, left top, left bottom, color-stop(10%, #4BAFA9), to(#18252B)); */
  /* background-image: linear-gradient(180deg, #4BAFA9, #18252B ); */
  /* background-repeat: no-repeat; */
  

  /* background-size: cover; */
  /* height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
